dontupload\*
downloads/HeadbandAutoDownloader.exe
downloads/HeadbandAutoDownloader2/HeadbandAutoDownloader.exe
downloads/HeadbandAutoDownloader.zip
dontupload/WorkspaceAndBlockLibraryBackups/workspace2_28_final.xml
dontupload/WorkspaceAndBlockLibraryBackups/toolbox2_28_final.xml
dontupload/WorkspaceAndBlockLibraryBackups/library3_5_18.xml
dontupload/myworkspace.xml
cp/cp_clear_pix.txt
cp/cp_declarations.txt
cp/cp_morse.txt
cp/cp_random_color.txt
cp/cp_rotate_pix.txt
cp/cp_set_one_pixel.txt
cp/cp_set_pixels.txt
cp/cp_shift_pix.txt
cp/cp_smooth_change_to.txt
cp/cp_smooth_rotate_pix.txt
cp/cp_smooth_transition.txt
cp/cp_twinkle.txt
cp/cp_wheel.txt
cp/cp_wipe.txt
dontupload/index.html.new
dontupload/color_wheel_palette.xlsx
dontupload/block_library_2_26.xml
dontupload/index.html.old
dontupload/index.html.saved
dontupload/mytoolbox.xml
images/LEDCircleOnly.svg
images/logo_only.png
images/BrightWearablesLogo.png
images/BrightlyWindowdDownload.png
images/BWLEDsOnlyTransparent.png
images/BWLogoTransparent.png
images/BWLogoTransparent.png
images/BWLEDsOnlyTransparent.png
images/BWLEDsOnlyTransparent.png
images/BWLogoTransparent.png
images/FullLogoSVG.svg
images/LEDCircleOnlyBW.svg
